<div class='row'>
  <div class='col-xs-12'>
    <%= form_for(@roster) do |f| %>
      <% if @roster.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@roster.errors.count, "error") %> prohibited this roster from being saved:</h2>
    
          <ul>
          <% @roster.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :hari %><br>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :hari, class:"form-control", placeholder: "Masukan tipe hari kerja", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :detail %><br>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :detail, class:"form-control", placeholder: "Masukan tipe jam kerja" %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :note %><br>
        </div>
        <div class="col-sm-10">
          <%= f.text_area :note, class:"form-control", placeholder: "Keterangan roster" %>
        </div>
      </div>
      &nbsp
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Simpan", class: 'btn-primary btn-lg pull-right' %>
        </div>
      </div>
    <% end %>
  </div>
</div>