<p id="notice"><%= notice %></p>

<h1>Listing Rosters</h1>

<table>
  <thead>
    <tr>
      <th>Hari</th>
      <th>Detail</th>
      <th>Amount</th>
      <th>Note</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rosters.each do |roster| %>
      <tr>
        <td><%= roster.hari %></td>
        <td><%= roster.detail %></td>
        <td><%= roster.amount %></td></td>
        <td><%= roster.note %></td>
        <td><%= roster.group.name %></td>
        <td><%= link_to 'Show', roster %></td>
        <td><%= link_to 'Edit', edit_roster_path(roster) %></td>
        <td><%= link_to 'Destroy', roster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roster', new_roster_path %>
