<p id="notice"><%= notice %></p>

<h1>Listing Potongans</h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @potongans.each do |potongan| %>
      <tr>
        <td><%= potongan.nama %></td>
        <td><%= link_to 'Show', potongan %></td>
        <td><%= link_to 'Edit', edit_potongan_path(potongan) %></td>
        <td><%= link_to 'Destroy', potongan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Potongan', new_potongan_path %>
