<%= form_for(@additional_income) do |f| %>
  <% if @additional_income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@additional_income.errors.count, "error") %> prohibited this additional_income from being saved:</h2>

      <ul>
      <% @additional_income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
  </div>
  <div class="field">
    <%= f.label :Keterangan %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Jumlah %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.hidden_field :employee_id, :value => params[:id] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
