<%= form_for(@position_group) do |f| %>
  <% if @position_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position_group.errors.count, "error") %> prohibited this position_group from being saved:</h2>

      <ul>
      <% @position_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :golongan_id %><br>
    <%= f.collection_select :golongan_id, Golongan.all.order(:nama), :id, :nama, prompt: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
