<div class="container">
  <nav class="navbar navbar-inverse">
    <p class="navbar-title"><%= @position_group.name %></p>
  </nav>
</div><br>
<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <p>
            <strong>Name:</strong>
            <%= @position_group.name %>
          </p>
          
          <p>
            <strong>Note:</strong>
            <%= @position_group.note %>
          </p>
          
          <p>
            <strong>Group:</strong>
            <%= @position_group.employee_group.name %>
          </p>
          
          <%= link_to 'Edit', edit_position_group_path(@position_group) %> |
          <%= link_to 'Back', position_groups_path %>
       </div>
    </div>
  </div>
</div>