<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @position_group.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @position_group.note %>
</p>

<p>
  <strong>Group:</strong>
  <%= @position_group.group %>
</p>

<%= link_to 'Edit', edit_position_group_path(@position_group) %> |
<%= link_to 'Back', position_groups_path %>
