<p id="notice"><%= notice %></p>

<h1>Listing Restos</h1>

<table>
  <thead>
    <tr>
      <th>Started</th>
      <th>Ended</th>
      <th>Employee</th>
      <th>Position group</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restos.each do |resto| %>
      <tr>
        <td><%= resto.started %></td>
        <td><%= resto.ended %></td>
        <td><%= resto.employee.name %></td>
        <td><%= resto.position_group.name %></td>
        <td><%= resto.location.name %></td>
        <td><%= link_to 'Show', resto %></td>
        <td><%= link_to 'Edit', edit_resto_path(resto) %></td>
        <td><%= link_to 'Destroy', resto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resto', new_resto_path %>
