<%= form_for(@kasbon) do |f| %>
  <% if @kasbon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kasbon.errors.count, "error") %> prohibited this kasbon from being saved:</h2>

      <ul>
      <% @kasbon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="control-label col-sm-3">
      <%= f.label :employee_id, "Karyawan :" %><br>
    </div>
    <div class="col-sm-9">
      <%= f.collection_select :employee_id,  Employee.all.order(:name),:id,:name, prompt: true %>
    </div>
  </div>
  <div class="row">
    <div class="control-label col-sm-3">
      <%= f.label :nama, "Keterangan :" %><br>
    </div>
    <div class="col-sm-9">
      <%= f.text_field :nama,  placeholder: "Kasbon untuk keperluan?" %>
    </div>
  </div>
  <div class="row">
    <div class="control-label col-sm-3">
      <%= f.label :tanggal_pinjam, "Tanggal Peminjaman : " %><br>
    </div>
    <div class="col-sm-9">
      <%= f.date_select :tanggal_pinjam, order: [:day,:month,:year]%>
    </div>
  </div>
  <div class="row">
    <div class="control-label col-sm-3">
       <%= f.label :jumlah_pinjam, "Jumlah Peminjaman :" %><br>
    </div>
    <div class="col-sm-9">
      <%= f.text_field :jumlah_pinjam %>
    </div>
  </div>
  <div class="row">
    
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-9">
      <%= f.submit "Simpan", class: 'btn-primary btn-lg' %>
    </div>
  </div>
<% end %>
