<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="navbar-title-arrow">
      <p><%= link_to kasbons_path do %></p>
          <i class="glyphicon glyphicon-chevron-left"></i>
      <% end %>
      <%= @employee.name  %> (<%= @kasbon.nama %>)
      <p class="navbar-title pull-right"><%= delimiter(@kasbon.sisa) %></p>
    </div>
  </nav>
</div><br>
<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-lg-12">
       
        <%= render 'detail_kasbon' %>
        
       
       </div>
    </div>
  </div>
</div>

