<%= form_for(@group_roster) do |f| %>
  <% if @group_roster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_roster.errors.count, "error") %> prohibited this group_roster from being saved:</h2>

      <ul>
      <% @group_roster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :golongan_id, :value => params[:id] %>
  </div>
  <div class="field">
    <div class="row">
      <div class="col-lg-1">
        <%= f.label :roster_id %>
      </div>
      <div class="col-lg-8">
        <%= f.collection_select :roster_id, Roster.all_except(@rosters.ids).order(:hari,:detail), :id, :formatted_name, prompt: true %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="row">
      <div class="col-lg-1">
        <%= f.label :amount %>
      </div>
      <div class="col-lg-8">
        <%= f.text_field :amount %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
