<div class="container">
  <nav class="navbar navbar-inverse">
    <p class="navbar-title">
      <%= @location.name %>
    </p>
    <%= link_to edit_location_path(@location) , class: 'navbar-title-btn' do%>
      <i class="glyphicon glyphicon-pencil"></i>
    <% end %>
  </nav>
</div><br>

<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-9">
            <p>
              <strong>Phone:</strong>
              <%= @location.phone %>
            </p>
            <p>
              <strong>Address:</strong>
              <%= @location.address %>
            </p>
          </div>
          <div class="col-lg-3">
            <%= link_to 'Tambah Karyawan', add_employee_path(@location) , class: 'btn btn-primary pull-right'%>
          </div>
        </div>
        <hr class="black">
        <%= render 'restos/record_employee', obj: @location_restos %>
        <%= link_to 'Back', locations_path %>
      </div>
    </div>
  </div>
</div>
