<!DOCTYPE html>
<html>
<head>
  <title>SagooApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link media="all" type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
  
  <%= render 'layouts/navigation' %>
  <div class="main">
    <div class="container">
          <%= yield %>
    </div>
    <%= render 'layouts/messages' %>
    <%= render 'layouts/footer' %>
  </div>

</body>
</html>

